h1{
    color:red;
    text-align: center;
    background-color:green;
}

body{
    background-color: black;
    background-image: url(image.jpg/blog3.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    color: white;
}